@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizar

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">@localizar["HelloWorld"]</h1>
    <h1 class="display-4">@ViewData["HelloWorld"]</h1>
    DEFAULT SHIT
    @DateTime.Now
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
